@{
    <p>ID: <label id="IdRegion"></label></p>
    <p>Nombre:<label id="NomRegion"></label></p>
    <button type="button" id="BtnClsAddCuentaBottom" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
}
